<ion-header>
  <ion-toolbar>

    <!-- 10.1) Menu e título -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Metal</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content>

    <div class="h2e">
    <h1>Sexta Feira</h1>
    </div>

    <hr>
 
<!-- List of Text Items -->

 
<ion-list>
  <ion-item>
    <ion-label><p>Rua Almirante Cochrane, n°20</p>9:00h</ion-label>
  </ion-item>
  <ion-item>
    <ion-label><p>Rua Barão de Mesquitan, n°80</p>14:00h</ion-label>
  </ion-item>
  <ion-item>
    <ion-label><p>Rua Nascimento Silva, n°60</p>16:00h</ion-label>
  </ion-item>
  <ion-item>
    <ion-label><p>Rua Uruguaianan,°60</p>17:00h</ion-label>
  </ion-item>
  <ion-item>
    <ion-label><p>Rua Soares Cabral, n°60</p>20:00h</ion-label>
  </ion-item>
</ion-list>




  
</ion-content>



<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button  routerLink="/metais" expand="block">
          <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
          <ion-label>Anterior</ion-label>
          </ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>