<ion-header>
  <ion-toolbar>

    <!-- 10.1) Menu e título -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Ler mensagem</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">

    <div *ngIf="viewMsg">

      <small [innerHTML]="viewMsg.interlocutor"></small><br>
      <small>Em: {{ viewMsg.date | date: ['dd/MM/yyyy'] }} às {{ viewMsg.date | date: ['HH:mm'] }}.</small>
      <hr>
      <h4>{{ viewMsg.subject }}</h4>

      <!-- 13.1) Exibe mensagem -->
      <div>{{ viewMsg.message }}</div>
      <hr>

      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-left ion-no-padding">
            <ion-button>Responder</ion-button>
          </ion-col>

          <!-- 13.2) Botão apagar mensagem -->
          <ion-col class="ion-text-right ion-no-padding">
            <ion-button (click)="app.msgDelete(userData.uid, msgParams.msgBox, msgParams.msgId)">Apagar</ion-button>
          </ion-col>

        </ion-row>
      </ion-grid>
      <hr>
      <ion-button *ngIf="msgParams.msgBox == 'inbox'" expand="block" routerLink="/msg/inbox">Caixa de entrada
      </ion-button>
      <ion-button *ngIf="msgParams.msgBox == 'outbox'" expand="block" routerLink="/msg/inbox">Caixa de saída
      </ion-button>

    </div>

  </div>

</ion-content>