<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Informações</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">

    <h3><span>Sobre este aplicativo</span></h3>
    <p>Ecolog, é uma startup de coleta seletiva que tem como objetivo promover a interface entre residências( Pessoas ) que fazem coleta seletiva de seus resíduos e empresas que utilizam tais resíduos como matéria prima, reduzindo o impacto ambiental causado pela produção de grande volumes de lixo e que são devastados inadequadamente por falta de políticas públicas e controle do estado.
    </p> 

    <p>Visando isso, a Ecolog busca implementar um novo conceito no que traça a cadeoia produtiva, em busca de gerar valor para que antes víamos como lixo, no entanto, estamos concientizando as pessoas, sobre a importância da preservação do meio ambiente e além disso, exercendo nossa responsabilidade ideológica </p>

<hr>

    <h3><span>Sobre o autor</span></h3>
    <p>Os Autores desse App faz parte da empresa EcoLog.</p>


<hr>

    <h3><span>Sobre sua privacidade</span></h3>
    <p>Este app não invade nenhuma privacidade do cliente, as informações que são pedidas, servem para que haja um controle e uma verificação do cliente para utilizar dos nossos serviços</p>


          
       
                
        
         
         
             
        
   


  </div>

</ion-content>