<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Faça Contato</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding TextoC">

    <p>É bom tê-lo aqui. Para mais informações ou curiosidades, clique nos botões abaixo, que você será direcionado para as seguintes páginas e contas da EcoLog, onde você podera estar entranto em contato conosco.</p>

  </div>

    <ion-button expand="block" href="###">
    <ion-icon name="desktop-outline" slot="start"></ion-icon>
    <ion-label>Site Web</ion-label>
    </ion-button>


    <ion-button class="ion-margin-top" expand="block" href="https://www.instagram.com/felipeguedes04">
      <ion-icon name="logo-instagram" slot="start"></ion-icon>
      <ion-label>Instagram</ion-label>
    </ion-button>


    <ion-button class="ion-margin-top" expand="block" href="https://www.facebook.com/felipe.guedes.33886">
      <ion-icon name="logo-facebook" slot="start"></ion-icon>
      <ion-label>Facebook</ion-label>
    </ion-button>


</ion-content>




  
  
  
  

  




