<ion-header>
  <ion-toolbar>

    <!-- 10.1) Menu e título -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Madeira</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content>


  <ion-card>
    <ion-card-content>
      <img src="/assets/img/Rotas.jpg">
   
    <ion-button color="dark" class="ion-margin-top" expand="block" routerLink="/segundamadeira">
      <ion-icon name="car-outline" slot="start"></ion-icon>
      <ion-label>Segunda Feira</ion-label>
    </ion-button>

    <ion-button color="dark" class="ion-margin-top" expand="block" routerLink="/tercamadeira">
      <ion-icon name="car-outline" slot="start"></ion-icon>
      <ion-label>Terça Feira</ion-label>
    </ion-button>

    <ion-button color="dark" class="ion-margin-top" expand="block" routerLink="/quartamadeira">
      <ion-icon name="car-outline" slot="start"></ion-icon>
      <ion-label>Quarta Feira</ion-label>
    </ion-button>

    <ion-button color="dark" class="ion-margin-top" expand="block" routerLink="/quintamadeira">
      <ion-icon name="car-outline" slot="start"></ion-icon>
      <ion-label>Quinta Feira</ion-label>
    </ion-button>

    <ion-button color="dark" class="ion-margin-top" expand="block" routerLink="/sextamadeira">
      <ion-icon name="car-outline" slot="start"></ion-icon>
      <ion-label>Sexta Feira</ion-label>
    </ion-button>

    </ion-card-content>
  
  </ion-card>



  
</ion-content>



<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button  routerLink="/residuo" expand="block">
          <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
          <ion-label>Anterior</ion-label>
          </ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>