<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Início</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">

    <h2>Olá!</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos odio, minus, harum maiores, repudiandae
      sequi quo quos ducimus vitae qui id dolorem. Amet eligendi itaque provident pariatur assumenda rerum nostrum?</p>
    <h4>Lista de links:</h4>
    <ul>
      <li><a href="https://luferat.net/" target="_blank">Site do Fessô</a></li>
      <li><a href="https://www.pi2c.tk/">Site do Projeto</a></li>
    </ul>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam assumenda eaque consequatur impedit nisi porro?
      Maxime id harum quis at itaque eos expedita consequatur cum dolore provident, tempore unde hic.</p>

  </div>

</ion-content>